<a href="https://colab.research.google.com/github/nithinsrinivas1993/SUMO-based-project/blob/master/SUMO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

from subprocess import check_output
from keras.layers.core import Dense, Activation, Dropout
from keras.layers.recurrent import LSTM
from keras.models import Sequential
from sklearn.model_selection import  train_test_split
import time #helper libraries
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
from numpy import newaxis
from geopy.geocoders import Nominatim

In [0]:
pip install keras

Requirement already satisfied: keras in /usr/local/lib/python3.6/dist-packages (2.3.1)
Requirement already satisfied: h5py in /usr/local/lib/python3.6/dist-packages (from keras) (2.10.0)
Requirement already satisfied: keras-preprocessing>=1.0.5 in /usr/local/lib/python3.6/dist-packages (from keras) (1.1.2)
Requirement already satisfied: numpy>=1.9.1 in /usr/local/lib/python3.6/dist-packages (from keras) (1.18.4)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from keras) (3.13)
Requirement already satisfied: keras-applications>=1.0.6 in /usr/local/lib/python3.6/dist-packages (from keras) (1.0.8)
Requirement already satisfied: scipy>=0.14 in /usr/local/lib/python3.6/dist-packages (from keras) (1.4.1)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from keras) (1.12.0)

In [0]:
pip install geopy

Requirement already satisfied: geopy in /usr/local/lib/python3.6/dist-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.6/dist-packages (from geopy) (1.50)

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [0]:
dataset = pd.read_csv("/content/drive/My Drive/Datasheet_clean.csv")

dataset = dataset.dropna()
dataset = dataset.drop_duplicates()
print(dataset)
#data.to_csv('/content/drive/My Drive/Datasheet_clean.csv')

      Unnamed: 0  Unnamed: 0.1  Timestamp  ...  VehiclePos.1 Longitude   latitude
0              0             0          0  ...      4.899500 -6.261524  53.352844
1              1             1          1  ...      3.904634 -6.261489  53.352816
2              2             2          2  ...      0.349166 -6.261486  53.352814
3              3             3          3  ...      0.041667 -6.261485  53.352814
4              4             4          4  ...      0.002291 -6.261485  53.352814
...          ...           ...        ...  ...           ...       ...        ...
4731        4731          5384       3734  ...     14.039617 -6.251481  53.348799
4732        4732          5385       3735  ...     15.545515 -6.251473  53.348657
4733        4733          5386       3736  ...     16.167585 -6.251479  53.348509
4734        4734          5387       3737  ...     11.667585 -6.251402  53.348418
4735        4735          5388       3738  ...     14.041988 -6.251285  53.348315

[4736 rows x 9 columns]

In [0]:
dataset

      Unnamed: 0  Unnamed: 0.1  Timestamp  ...  VehiclePos.1 Longitude   latitude
0              0             0          0  ...      4.899500 -6.261524  53.352844
1              1             1          1  ...      3.904634 -6.261489  53.352816
2              2             2          2  ...      0.349166 -6.261486  53.352814
3              3             3          3  ...      0.041667 -6.261485  53.352814
4              4             4          4  ...      0.002291 -6.261485  53.352814
...          ...           ...        ...  ...           ...       ...        ...
4731        4731          5384       3734  ...     14.039617 -6.251481  53.348799
4732        4732          5385       3735  ...     15.545515 -6.251473  53.348657
4733        4733          5386       3736  ...     16.167585 -6.251479  53.348509
4734        4734          5387       3737  ...     11.667585 -6.251402  53.348418
4735        4735          5388       3738  ...     14.041988 -6.251285  53.348315

[4736 rows x 9 columns]

In [0]:
dataset.head()

   Unnamed: 0  Unnamed: 0.1  Timestamp  ...  VehiclePos.1 Longitude   latitude
0           0             0          0  ...      4.899500 -6.261524  53.352844
1           1             1          1  ...      3.904634 -6.261489  53.352816
2           2             2          2  ...      0.349166 -6.261486  53.352814
3           3             3          3  ...      0.041667 -6.261485  53.352814
4           4             4          4  ...      0.002291 -6.261485  53.352814

[5 rows x 9 columns]

In [0]:
print(len(dataset[["latitude","Longitude" , "Vehicle Angle"]]))

4736

In [0]:
final_dataset = dataset[["latitude","Longitude","Vehicle Angle"]]

In [0]:
final_dataset

       latitude  Longitude  Vehicle Angle
0     53.352844  -6.261524     140.695093
1     53.352816  -6.261489     140.695093
2     53.352814  -6.261486     140.695093
3     53.352814  -6.261485     140.695093
4     53.352814  -6.261485     140.695093
...         ...        ...            ...
4731  53.348799  -6.251481     166.581883
4732  53.348657  -6.251473     177.287754
4733  53.348509  -6.251479     179.161726
4734  53.348418  -6.251402     141.330902
4735  53.348315  -6.251285     138.551498

[4736 rows x 3 columns]

In [0]:
train_size = int(len(final_dataset) * 0.80)
test_size = len(final_dataset) - train_size
train, test = final_dataset[0:train_size], final_dataset[train_size:len(final_dataset)]
print(len(train), len(test))

3788 948

In [0]:
#convert an array of values into a dataset matrix
def create_dataset(dataset, look_back=1):
    dataX, dataY = [], []
    
    for i in range(len(dataset)-look_back-1):
        a = dataset[i:(i+look_back)]
        dataX.append(np.array(a))
        dataY.append(np.array(dataset[i + look_back:i+look_back+1]))
        
    return np.array(dataX),np.array(dataY)

In [0]:
look_back = 50
trainX, trainY = create_dataset(train, look_back)

In [0]:
print(trainX.shape)
print(trainY.shape)

(3737, 50, 3)
(3737, 1, 3)

In [0]:
#Step 2 Build Model
model = Sequential()
model.reset_states()

model.add(LSTM(
    input_dim=3,
    output_dim=100,
    return_sequences=True))
model.add(Dropout(0.2))

model.add(LSTM(
    100,
    return_sequences=True))
model.add(Dropout(0.2))

model.add(Dense(
    output_dim=3))
model.add(Activation('linear'))

start = time.time()
model.compile(loss='mse', optimizer='adam')
print ('compilation time : ', time.time() - start)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: UserWarning: The `input_dim` and `input_length` arguments in recurrent layers are deprecated. Use `input_shape` instead.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: UserWarning: Update your `LSTM` call to the Keras 2 API: `LSTM(return_sequences=True, input_shape=(None, 3), units=100)`

compilation time :  0.012531757354736328

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(units=3)`

In [0]:
model.fit(
    trainX,
    trainY,
    batch_size=len(trainX),
    nb_epoch=100,
    shuffle = False,
    validation_split=0.05)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  import sys

Train on 3550 samples, validate on 187 samples
Epoch 1/100
3550/3550 [==============================] - 6s 2ms/step - loss: 12966.7480 - val_loss: 30793.1035
Epoch 2/100
3550/3550 [==============================] - 6s 2ms/step - loss: 12923.8955 - val_loss: 30719.7871
Epoch 3/100
3550/3550 [==============================] - 6s 2ms/step - loss: 12877.2471 - val_loss: 30639.8867
Epoch 4/100
3550/3550 [==============================] - 6s 2ms/step - loss: 12826.4639 - val_loss: 30552.5703
Epoch 5/100
3550/3550 [==============================] - 6s 2ms/step - loss: 12771.2500 - val_loss: 30458.7559
Epoch 6/100
3550/3550 [==============================] - 6s 2ms/step - loss: 12712.0742 - val_loss: 30362.0762
Epoch 7/100
3550/3550 [==============================] - 6s 2ms/step - loss: 12651.2080 - val_loss: 30266.6953
Epoch 8/100
3550/3550 [==============================] - 6s 2ms/step - loss: 12590.4580 - val_loss: 30175.3398
Epoch 9/100
3550/3550 [==============================] - 6s 2ms/step - loss: 12532.0898 - val_loss: 30088.5156
Epoch 10/100
3550/3550 [==============================] - 6s 2ms/step - loss: 12476.2461 - val_loss: 30005.5273
Epoch 11/100
3550/3550 [==============================] - 6s 2ms/step - loss: 12422.9658 - val_loss: 29925.8770
Epoch 12/100
3550/3550 [==============================] - 6s 2ms/step - loss: 12371.6309 - val_loss: 29848.7246
Epoch 13/100
3550/3550 [==============================] - 6s 2ms/step - loss: 12322.2822 - val_loss: 29772.5527
Epoch 14/100
3550/3550 [==============================] - 6s 2ms/step - loss: 12274.0029 - val_loss: 29696.1035
Epoch 15/100
3550/3550 [==============================] - 6s 2ms/step - loss: 12225.6270 - val_loss: 29618.9531
Epoch 16/100
3550/3550 [==============================] - 6s 2ms/step - loss: 12177.1387 - val_loss: 29540.9727
Epoch 17/100
3550/3550 [==============================] - 6s 2ms/step - loss: 12127.5322 - val_loss: 29462.5879
Epoch 18/100
3550/3550 [==============================] - 6s 2ms/step - loss: 12078.3428 - val_loss: 29384.5762
Epoch 19/100
3550/3550 [==============================] - 6s 2ms/step - loss: 12029.1299 - val_loss: 29307.6777
Epoch 20/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11980.3428 - val_loss: 29232.3945
Epoch 21/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11932.4609 - val_loss: 29159.0098
Epoch 22/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11886.0264 - val_loss: 29087.6504
Epoch 23/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11841.2676 - val_loss: 29018.3262
Epoch 24/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11798.3027 - val_loss: 28951.2070
Epoch 25/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11756.7617 - val_loss: 28887.1289
Epoch 26/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11717.3916 - val_loss: 28826.3672
Epoch 27/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11679.6416 - val_loss: 28769.1465
Epoch 28/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11643.8213 - val_loss: 28715.2598
Epoch 29/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11610.1553 - val_loss: 28664.2812
Epoch 30/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11578.7900 - val_loss: 28615.7852
Epoch 31/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11548.6016 - val_loss: 28569.4453
Epoch 32/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11519.9824 - val_loss: 28525.0898
Epoch 33/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11492.2373 - val_loss: 28482.5938
Epoch 34/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11466.2012 - val_loss: 28441.8184
Epoch 35/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11441.5703 - val_loss: 28402.6211
Epoch 36/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11417.0146 - val_loss: 28364.7305
Epoch 37/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11393.8828 - val_loss: 28327.9668
Epoch 38/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11370.9590 - val_loss: 28292.2578
Epoch 39/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11349.1357 - val_loss: 28257.6094
Epoch 40/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11327.1582 - val_loss: 28224.0195
Epoch 41/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11306.9883 - val_loss: 28191.3555
Epoch 42/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11286.2861 - val_loss: 28159.4688
Epoch 43/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11266.3779 - val_loss: 28128.3301
Epoch 44/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11246.5244 - val_loss: 28097.8418
Epoch 45/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11227.7256 - val_loss: 28067.9492
Epoch 46/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11209.3779 - val_loss: 28038.5996
Epoch 47/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11190.6973 - val_loss: 28009.7852
Epoch 48/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11172.5605 - val_loss: 27981.3887
Epoch 49/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11153.9893 - val_loss: 27953.3926
Epoch 50/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11136.9238 - val_loss: 27925.7637
Epoch 51/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11119.6641 - val_loss: 27898.3965
Epoch 52/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11102.0957 - val_loss: 27871.2812
Epoch 53/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11084.8848 - val_loss: 27844.2969
Epoch 54/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11068.4033 - val_loss: 27817.4062
Epoch 55/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11051.5703 - val_loss: 27790.6270
Epoch 56/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11035.3525 - val_loss: 27764.2129
Epoch 57/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11018.7285 - val_loss: 27738.0391
Epoch 58/100
3550/3550 [==============================] - 6s 2ms/step - loss: 11002.6611 - val_loss: 27712.0000
Epoch 59/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10986.2764 - val_loss: 27686.0488
Epoch 60/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10970.0283 - val_loss: 27660.2090
Epoch 61/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10954.0967 - val_loss: 27634.7148
Epoch 62/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10938.4043 - val_loss: 27609.3750
Epoch 63/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10922.6055 - val_loss: 27584.1582
Epoch 64/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10907.1738 - val_loss: 27558.9805
Epoch 65/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10891.5967 - val_loss: 27533.9609
Epoch 66/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10875.9980 - val_loss: 27509.2812
Epoch 67/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10860.5010 - val_loss: 27484.9844
Epoch 68/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10844.7588 - val_loss: 27460.8594
Epoch 69/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10830.5420 - val_loss: 27436.8711
Epoch 70/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10816.1299 - val_loss: 27413.1484
Epoch 71/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10801.0684 - val_loss: 27389.3965
Epoch 72/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10786.2285 - val_loss: 27365.7969
Epoch 73/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10771.5928 - val_loss: 27342.1855
Epoch 74/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10756.4316 - val_loss: 27318.6504
Epoch 75/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10742.3770 - val_loss: 27295.2773
Epoch 76/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10727.8135 - val_loss: 27272.0625
Epoch 77/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10713.3770 - val_loss: 27248.8965
Epoch 78/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10699.4844 - val_loss: 27225.8594
Epoch 79/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10684.7520 - val_loss: 27202.9941
Epoch 80/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10671.3906 - val_loss: 27180.1504
Epoch 81/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10656.4229 - val_loss: 27157.3691
Epoch 82/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10643.4160 - val_loss: 27134.6953
Epoch 83/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10628.3408 - val_loss: 27112.1523
Epoch 84/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10614.7666 - val_loss: 27089.6035
Epoch 85/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10601.0566 - val_loss: 27067.1504
Epoch 86/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10587.0469 - val_loss: 27044.8281
Epoch 87/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10573.4365 - val_loss: 27022.5410
Epoch 88/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10560.0664 - val_loss: 27000.2832
Epoch 89/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10545.7119 - val_loss: 26978.1797
Epoch 90/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10532.0654 - val_loss: 26956.1602
Epoch 91/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10518.8418 - val_loss: 26934.1738
Epoch 92/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10505.1104 - val_loss: 26912.2461
Epoch 93/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10491.8545 - val_loss: 26890.4355
Epoch 94/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10478.2129 - val_loss: 26868.6133
Epoch 95/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10464.7266 - val_loss: 26846.9336
Epoch 96/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10451.5527 - val_loss: 26825.2988
Epoch 97/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10438.0254 - val_loss: 26803.6445
Epoch 98/100
3550/3550 [==============================] - 10s 3ms/step - loss: 10424.4160 - val_loss: 26782.1270
Epoch 99/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10412.1846 - val_loss: 26760.7617
Epoch 100/100
3550/3550 [==============================] - 6s 2ms/step - loss: 10398.7061 - val_loss: 26739.3438

In [0]:
test.shape
testX, testY = create_dataset(test, look_back)

In [0]:
test1 = np.array(testX[0:1])
print(test1[0:1][0:1])

[[[ 53.352207  -6.262319 227.93251 ]
  [ 53.352842  -6.255939 335.387673]
  [ 53.352165  -6.262402 227.93251 ]
  [ 53.352938  -6.256005 335.387673]
  [ 53.352123  -6.262487 228.024202]
  [ 53.352992  -6.256074 312.617726]
  [ 53.352085  -6.262565 228.336497]
  [ 53.352981  -6.256179 250.850975]
  [ 53.352047  -6.262643 228.783772]
  [ 53.352952  -6.256314 248.781875]
  [ 53.349756  -6.260076 163.45156 ]
  [ 53.352002  -6.262729 226.271674]
  [ 53.352926  -6.256443 248.781875]
  [ 53.349742  -6.26007  163.45156 ]
  [ 53.351956  -6.262808 223.640211]
  [ 53.352897  -6.25658  248.781875]
  [ 53.349711  -6.260057 163.45156 ]
  [ 53.351919  -6.262883 229.15418 ]
  [ 53.352869  -6.256717 248.781875]
  [ 53.349668  -6.260039 163.45156 ]
  [ 53.351915  -6.262981 269.982114]
  [ 53.352842  -6.256847 248.444073]
  [ 53.349605  -6.260012 163.45156 ]
  [ 53.351936  -6.263072 292.326781]
  [ 53.352813  -6.256983 248.344478]
  [ 53.349524  -6.259977 163.45156 ]
  [ 53.351968  -6.263165 298.050431]
  [ 53.352784  -6.257121 248.344478]
  [ 53.349442  -6.259942 163.45156 ]
  [ 53.352009  -6.263254 309.259395]
  [ 53.352757  -6.257247 248.344478]
  [ 53.34936   -6.259907 163.45156 ]
  [ 53.352053  -6.263321 315.290511]
  [ 53.352731  -6.25737  248.266439]
  [ 53.34928   -6.259873 163.45156 ]
  [ 53.352099  -6.263392 315.290511]
  [ 53.352703  -6.257504 248.266439]
  [ 53.3492    -6.259839 163.45156 ]
  [ 53.35215   -6.263469 315.290511]
  [ 53.352674  -6.25764  248.537484]
  [ 53.349122  -6.259805 163.45156 ]
  [ 53.352197  -6.263541 315.290511]
  [ 53.352646  -6.257779 248.746102]
  [ 53.349043  -6.259772 163.45156 ]
  [ 53.352241  -6.263609 315.290511]
  [ 53.352618  -6.257915 248.678342]
  [ 53.348965  -6.259738 163.417946]
  [ 53.35229   -6.263683 315.290511]
  [ 53.352589  -6.258051 248.709995]
  [ 53.348883  -6.259702 162.946616]]]

In [0]:
model.predict(test1)

array([[[11.533971 , -4.5467663, 15.409312 ],
        [15.061231 , -6.0033712, 20.101568 ],
        [15.580061 , -6.216056 , 20.790201 ],
        [15.651137 , -6.2446766, 20.885736 ],
        [15.661651 , -6.249237 , 20.899223 ],
        [15.662505 , -6.2493134, 20.900963 ],
        [15.663223 , -6.249877 , 20.90135  ],
        [15.663129 , -6.249762 , 20.9014   ],
        [15.663264 , -6.249891 , 20.901423 ],
        [15.66315  , -6.249771 , 20.901426 ],
        [15.663758 , -6.250391 , 20.901476 ],
        [15.663562 , -6.250188 , 20.90146  ],
        [15.663439 , -6.250063 , 20.901453 ],
        [15.663955 , -6.2505903, 20.901497 ],
        [15.6637945, -6.250428 , 20.901463 ],
        [15.663667 , -6.2503014, 20.901453 ],
        [15.664087 , -6.250725 , 20.90151  ],
        [15.663923 , -6.2505636, 20.90146  ],
        [15.663821 , -6.2504616, 20.90145  ],
        [15.664166 , -6.250806 , 20.901516 ],
        [15.663767 , -6.250415 , 20.901438 ],
        [15.66391  , -6.250559 , 20.901442 ],
        [15.664209 , -6.2508516, 20.901518 ],
        [15.6636715, -6.25033  , 20.901407 ],
        [15.663961 , -6.250614 , 20.901438 ],
        [15.664235 , -6.2508783, 20.901525 ],
        [15.663678 , -6.2503424, 20.901394 ],
        [15.663995 , -6.2506485, 20.901438 ],
        [15.664252 , -6.250893 , 20.901527 ],
        [15.663665 , -6.250334 , 20.901373 ],
        [15.664011 , -6.2506676, 20.901434 ],
        [15.664262 , -6.250902 , 20.90153  ],
        [15.663662 , -6.2503395, 20.901361 ],
        [15.6640215, -6.25068  , 20.901432 ],
        [15.664268 , -6.250907 , 20.901531 ],
        [15.663671 , -6.250348 , 20.901361 ],
        [15.664031 , -6.250688 , 20.901436 ],
        [15.664269 , -6.25091  , 20.901531 ],
        [15.663676 , -6.250353 , 20.901361 ],
        [15.664035 , -6.2506914, 20.901434 ],
        [15.664272 , -6.250911 , 20.901533 ],
        [15.663679 , -6.2503567, 20.90136  ],
        [15.664035 , -6.2506933, 20.901434 ],
        [15.664273 , -6.2509117, 20.901533 ],
        [15.663682 , -6.2503586, 20.901361 ],
        [15.664039 , -6.2506957, 20.901434 ],
        [15.664273 , -6.250912 , 20.901533 ],
        [15.663683 , -6.2503595, 20.901361 ],
        [15.66404  , -6.250697 , 20.901434 ],
        [15.664272 , -6.2509127, 20.901533 ]]], dtype=float32)